:root {
    --main-radius: 15px;
    --main-padding: 15px;
}

/* container  */
.stor-container {
    display: grid;
    height: 150vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1.5fr 1.2fr 0.7fr;
    grid-template-areas: 
        "nav nav nav nav"
        "main main main sidebar"
        "post1 post2 post3 sidebar"
        "footer footer footer sidebar";
    grid-gap: 0.3rem;
    font-family: 'Monserrat' sans-serif;
    font-weight: 900;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.navbar {
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-paddin);
}

main {
    background-color: red;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-paddin);
    top
}

#sidebar {
    background-color: rgb(69, 0, 87);
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-paddin);
}

#post1 {
    background-color: lightgreen;
    grid-area: post1;
    border-radius: var(--main-radius);
    padding-top: var(--main-paddin);
}

#post2 {
    background-color: lightgreen;
    grid-area: post2;
    border-radius: var(--main-radius);
    padding-top: var(--main-paddin);
}

#post3 {
    background-color: lightgreen;
    grid-area: post3;
    border-radius: var(--main-radius);
    padding-top: var(--main-paddin);
}

footer {
    background-color: rgb(5, 0, 71);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-paddin);
}

@media only screen and (max-width:600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2fr 1.3fr 1.3fr 1.3fr 1.8fr 0.6fr;
        grid-template-areas: 
        "nav"
        "main"
        "post1"
        "post2"
        "post3"
        "sidebar"
        "footer";
    }
}

/* Nav systemet */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", serif;
  color: rgb(214, 214, 214);

}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 40px;
}

a {
  color: white;
  text-decoration: none;
}

.nav-link {
  list-style: none;
  margin: 20px 0;
  border-bottom: 2px solid white;
  width: 8rem;
}

/* Navbar */
.navbar {
  background: rgb(20, 20, 20);
  position: fixed;
  width: 100%;

}

.flex-nav {
  display: flex;
  flex-direction: column;
}

.nav-header span {
  color: rgb(113, 113, 225);
  
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: xx-small;
  
}

.nav-toggle {
  border: transparent;
  background: transparent;
  color: white;
  font-size: 1.5rem;
}

.nav-links {
  height: 0;
  overflow: hidden;
}

.nav-open {
  height: 100vh;
}

@media only screen and (min-width: 900px) {
  .nav-toggle {
    display: none;
  }

  .nav-header {
    display: block;
    font-size: medium;
  }

  .flex-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .nav-links {
    height: auto;
  }

  ul {
    text-align: center;
  }

  .nav-link {
    display: inline-block;
    border-bottom: none;
    font-size: small;
  }

  .nav-links span {
    background: rgb(70, 70, 70);
    padding: 8px 15px;
    border-radius: 4px;
  }
}